body {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}

img {
  border: 2px solid white;
  border-radius: 8px;
  margin: 20px;
}

#results {
  font-size: 1.2em;
  font-family: monospace;
}